@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-gotham-200 bg-gotham-950;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }

  h1 {
    line-height: 1.2;
  }

  h2, h3 {
    line-height: 1.2;
  }

  p {
    line-height: 1.5;
  }
}

@layer utilities {
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
    }
  }
}
